<nav>
  <a class="navbar-brand" href="/" style="display: flex;">
    <p>Sasa</p> <span> News</span>
    </a>
  <ul>
    
    <li><a href="/politics">Politics</a></li>
    <li><a href="/kenya">Kenya</a></li>
    <li><a href="/world">World</a></li>
    <li><a href="/entertainment">Entertainment</a></li>
    <li><a href="/business">Business</a></li>
    <li><a href="/technology">Technology</a></li>
    <li><a href="/sports">Sports</a></li>
  </ul>
</nav>