<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
     <a href="#">SasaBlog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Politics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kenya</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Entartainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Swahili</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Sports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>